@import "_variables";
* {
  margin: 0%;
}
body {
  background-image: url("../fondodepantallaprincipal.jpg");
    background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  background-color: $fondodepantalla;
}
.navbar {
  font-size: $letranav;
  background-color: transparent !important;
  .nav-link {
    margin-left: 20px;
    &:hover {
      background-color: black;
      border-radius: 20px;
    }
  }
}
@mixin fuente {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.nav-link {
  background-color:transparent;
}
article {
  @include fuente;
  margin-left: $margen;
}
p {
  @include fuente;
  margin-left: $margen;
}
.texto {
  @include fuente;
}
H3 {
  @include fuente;
  font-size: 30px;
}

h2 {
  color: aliceblue;
  margin-top: 25px;
  font-size: $tamanotitulo;
  margin-left: 70px;
}
.botton {
  color:aliceblue;
  font-size: 25px;
  text-decoration: none;
  border-color: black;
  margin-left: 25px;
  &:hover {
    background-color: black;
    color: blanchedalmond;
    border-radius: 30px;
  }
}
.fotos {
  text-align: center;
}
.fotolujan {
  width: 360px;
  height: 360px;
}
.fotodeviaje {
  @extend .fotolujan;
  &:hover {
    width: 600px;
    height: 500px;
  }
}
.footer {
  margin-top: 100px;
  color: bisque;
  transition: all 1s ease;
  &:hover {
    background-color: black;
  }
}
.icono {
  height: 70px;
  width: 70px;
  padding: 5px;
  margin: 5px;
}
@media only screen and (min-width: 360px) {
  body {
    background-image: url("../fondodepantallaprincipal.jpg");
    background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    background-color: rgb(37, 21, 21);
  }
@mixin fuentes2 {
  font-size: 20px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
  article {
    @include fuentes2;
    margin-left: $margen;
  }
  p {
    @include fuentes2;
    margin-left: $margen;
  }
  .texto {
    @include fuentes2;
  }
  H3 {
    @include fuentes2;
    font-size: 30px;
  }
.logo{
  height: 200px;
  height: 200px;
}
.fotos{
  text-align: center;
}
.fotodeviaje{
  height: 360px;
  width: 350px;
}
}
@media only screen and (min-width: 720px)and (max-width: 1024px) {
  body {
    background-image: url("../fondotablet.jpeg");
    background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
background-color: black;
  }
  @mixin fuentes3 {
    font-size: 25px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
  }
  article {
    @include fuentes3;
    margin-left: $margen;
  }
  p {
    @include fuentes3;
    margin-left: $margen;
  }
  .texto {
    @include fuentes3;
  }
  H3 {
    @include fuentes3;
    font-size: 30px;
  }
  .index{
    margin-bottom: 30%;
  }
}