* {
  margin: 0%;
}
body {
  background-image: url(fondodepantallaprincipal.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
H2{
  margin-top: 30PX;
  margin-left: 20px;
}
.navbar{
  margin-left: 5px;
  margin-right: 5px;
}
p{
  margin-left: 15px;
}
.article {
  grid-area: article;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: white;
}
.footer {
  margin-top: 100PX;
  color: bisque;
  transition: all 1s ease;
}
.icono {
  height: 70px;
  width: 70px;
  padding: 5px;
  margin: 5px;
}
.fotodeviaje {
  width: 360px;
  height: 360px;
}
.footer:hover{
  background-color: black;
}
.fotodeviaje:hover{
  width: 600px;
  height: 500px;
}

@media only screen and (min-width: 360px) {
  body {
    background-image: url(fondodepantallaprincipal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    height: 200px;
    width: 200px;
  }
  .footer {
    grid-area: footer;
    color: bisque;
    font-size: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-size: 100%;
    text-align: center;
  }
  .icono {
    height: 70px;
    width: 70px;
    padding: 5px;
    margin: 5px;
  }
@media only screen and (min-width: 1200px) {
  .navbar{
    background-color: transparent !important;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color: white;
}
.nav-link:hover{
  background-color: black;
  transition: all 0.5s ease;
  border-radius: 20px;
}
.opciones:hover{
  background-color: black;
}
.footer:hover{
  background-color: black;
}
.fotodeviaje:hover{
  width: 500px;
  height: 400px;
} 
}